.container {
  min-height: 100vh;
  width: 100wh;
  background-color: #f1f1f1;
  position: relative;

  .header {
    width: 100%;
  }

  .content {
    width: 100%;
    background-color: #ffffff;
    padding: 6px 3px;

    .sideBar {
      width: 200px;
    }

    .page {
      padding: 10px 20px;
    }
  }
}
