<mat-expansion-panel class="expansionPanel mat-elevation-z0" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Clientes</mat-panel-title>
    <mat-icon>people</mat-icon>
  </mat-expansion-panel-header>
  <mat-nav-list>

    <a routerLink="/dashboard/clientes/criar">
      <mat-list-item>Cadastro</mat-list-item>
    </a>
    <a routerLink="/dashboard/clientes/listar">
      <mat-list-item>
        Listar
      </mat-list-item>
    </a>

  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="expansionPanel mat-elevation-z0" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Pedidos</mat-panel-title>
    <mat-icon>event_note</mat-icon>
  </mat-expansion-panel-header>
  <mat-nav-list>

    <a routerLink="/dashboard/pedidos/criar">
      <mat-list-item>Cadastro</mat-list-item>
    </a>
    <a routerLink="/dashboard/pedidos/listar">
      <mat-list-item>
        Listar
      </mat-list-item>
    </a>

  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="expansionPanel mat-elevation-z0" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Relatórios</mat-panel-title>
    <mat-icon>description</mat-icon>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <mat-list-item>Clientes</mat-list-item>
    <mat-list-item>Pedidos</mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>

<mat-expansion-panel class="expansionPanel mat-elevation-z0" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>Minha conta</mat-panel-title>
    <mat-icon>manage_accounts</mat-icon>
  </mat-expansion-panel-header>
  <mat-nav-list>
    <mat-list-item>Configurações</mat-list-item>
    <mat-list-item>Sair</mat-list-item>
  </mat-nav-list>
</mat-expansion-panel>
